<%= render 'shared/page_title', title: "showing all articles" %>

<div align="center">
  <%= will_paginate %>
</div>
<%= render 'blog', obj: @blogs %>
<div align="center">
  <%= will_paginate %>
</div>
