<div class="home-content">

  <h2 class="home-icon">
    <%= link_to image_tag('praying.png'), signup_path %>
  </h2>

  <h2 class="app-title">
    Pray For Our World
  </h2>

  <p class="about" align="center">
    About <span style="font-size: 33px; color: rgb(84, 0, 0)">Coronavirus</span>,
    <br>Disaster, Poverty, Disease...
  </p>

  <%= button_tag type: 'button', class: "link-post", onclick: "link_to('#{signup_path}')" do %>
    <%= 'Pray Now' %>
  <% end %>

  <p class="total-number" align="center">
    Total Number of Prayers <%= @number %>
  </p>
</div>
