<div class="jumbotron center">
  <h1>Welcome to PrayForOurWorld</h1>
  <h2>The best your pray sharing app!</h2>
  <p><%= link_to "Sign up for the app", signup_path, class: "btn btn-danger btn-lg btn-xlarge" %></p>
</div>

<div class="row">
  <div class="col-lg-4">
    <h2>Explore articles</h2>
    <p>We have a ton of blogs for you to explore, not sure about the app yet? Don't worry just view as a guest, we're sure you'll come back to sign-up at a later time</p>
    <p><%= link_to "View all blogs as a Guest!", blogs_path, class: "btn btn-primary btn-xlarge" %></p>
  </div>
  <div class="col-lg-4">
    <h2>Unlock all features!</h2>
    <p>Sign up for the app and unlock all it's magic, create and share blogs, hangout with users in the userchat, comment on blogs you have tried out, like/dislike and much much more!</p>
    <p><%= link_to "Sign up for an account", signup_path, class: "btn btn-primary btn-xlarge" %></p>
 </div>
</div>
