$navbar-default-bg: #073B15;

@import "bootstrap-sprockets";
@import "bootstrap";

html{
  overflow-y:scroll;
}

body {
  background: linear-gradient(41deg, purple 25%, orange 50%, rgba(255, 107, 0, 0.48)) fixed;
}

.container {
  margin-top: 40px;
}

.center {
  text-align: center;
}

.pagination {
  margin: 0 auto;
}

.btn-xlarge:hover {
  color: #fff;
  text-decoration: none;
}

.description {
  margin-top: 0;
}

.user_info {
  margin-top: 10px;
}

.colormatch a {
  color: #073B15;
}

.listing {
  list-style: none;
  padding-left: 0;
}

.user-title {
  color: #073B15;
  font-weight: bold;
  font-size: 1.25em;
}

.input_checkbox input {
  width: auto !important;
}

.center-block {
  float: none;
}

.chat-container {
  bottom: 0;
  left: 0;
  right: 0;
  top: 150px;
  width: 80;
}

.message-container {
  .form-control {
    float: left;
    width: 80%;
  }
  .btn {
    float: right;
    position: relative;
    height: 54px !important;
    width: 18%;
  }
}

.message {
  padding-left: 5px;
  padding-top: -10px;
  line-height: normal;
}

.chatbox {
  height: auto;
}

#messages {
  height: 0;
  letter-spacing: 0.2em;
  word-break: break-all;
  padding: 0;
}

.liking {
  padding-right: 10px;
}

.small-image {
  max-width: 25px;
  height: auto;
}

.chatroom-title {
  padding-bottom: 3%;
  text-align: center;
}

// home
.home-content {
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-family: "Gill Sans", sans-serif;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding-bottom: 15px;
}

.inori-icon  img {
  height: auto;
  width: 80px;
  padding-left: 10px;
  padding-top: 10px;
}

.app-title {
  width: 100%;
  font-size: 32px;
  color: white;
  font-weight: 600;
  padding: 0 0 8% 0;
  margin: 0 auto;
  letter-spacing: 0.01em;
}

.home-icon img {
  height: 200px;
  width: auto;
  filter: invert(88%) sepia(61%) saturate(0%) hue-rotate(229deg) brightness(107%) contrast(101%);
  padding-bottom: 0%;
}

.home-icon img:hover {
  opacity: .8;
}

.about {
  padding-top: 10px;
  font-size: 25px;
  padding-bottom: 8%;
  font-weight: 500;
  color: rgb(12, 0, 69);
}

.total-number {
  font-size: 20px;
  color: white;
  padding-top: 20px;
  font-weight: 500;
}

button.link-post {
  width: 80%;
  height: 50px;
  font-size: 20px;
  margin-top: 20px;
  border-radius: 1em;
  background-color: white;
}

button.link-post:hover {
  background-color: rgb(221, 221, 221);
}

button p {
  margin: 0 auto;
  padding: 10px;
  letter-spacing: .1em;
  font-weight: 900;
}

.link-post:hover {
  opacity: .8;
}

a {
  text-decoration: none;
  color: #888888;
  font-weight: lighter;
}

a:hover {
  color: #888888;
}

// ---------
/* ローディングの背景部分のCSS */
.loader{
  background: white;
  height:100%;
  left:0;
  position:fixed;
  top:0;
  width:100%;
  z-index:10000;
}

/* ローディングのアニメーション部分のCSS (https://projects.lukehaas.me/css-loaders/) */
.loader-animation,
.loader-animation:before,
.loader-animation:after {
  background: linear-gradient(41deg, purple 25%, orange 50%, white) fixed;  -webkit-animation:load1 1s infinite ease-in-out;
  animation:load1 1s infinite ease-in-out;
  width:1em;
  height:4em;
}
.loader-animation {
  height:10px;
  left:50%;
  margin:-5px 0 0 -5px;
  position:absolute;
  top:50%;
  width:10px;
  color: linear-gradient(41deg, purple 25%, orange 50%, white) fixed;
  text-indent:-9999em;
  font-size:10px;
  -webkit-transform:translateZ(0);
  -ms-transform:translateZ(0);
  transform:translateZ(0);
  -webkit-animation-delay:-0.16s;
  animation-delay:-0.16s;
}
.loader-animation:before,
.loader-animation:after {
  position:absolute;
  top:0;
  content:'';
}
.loader-animation:before {
  left:-1.5em;
  -webkit-animation-delay:-0.32s;
  animation-delay:-0.32s;
}
.loader-animation:after {
  left:1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow:0 0;
    height:4em;
  }
  40% {
    box-shadow:0 -2em;
    height:5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow:0 0;
    height:4em;
  }
  40% {
    box-shadow:0 -2em;
    height:5em;
  }
}
